// Font Family
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

// SASS Variables
$base-color: #B9D6F2;
$accent-color: #DB5461;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  cursor: default;
}

html {
  width: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  color: #000;
  background: #fff;
}

a {
  text-decoration: none;
  color: #fffffa;
}

.c-scrollbar_thumb {
  z-index: 1001;
}

/* ! Header */

header {
  position: fixed;
  padding: 15px 0 0 15px;
  top: 30px;
  left: 15px;
  width: 130px;
  height: 180px;
  color: #fff;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  flex-flow: column nowrap;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  border-radius: 25px;
  z-index: 1000;

  .name {
    transition: 0.3s all ease-in-out;

    svg {
      height: 40px;
      width: auto;

      path {
        transition: all 0.2s ease-in-out;

        &:hover {
          fill: $accent-color;
        }
      }
    }

    &:hover {
      color: $accent-color;
    }
  }

  nav {
    display: block;
    width: 100%;
    overflow: hidden;
    margin-top: 16px;

    ul {
      position: relative;
      left: 0px;
      padding: 0;
      list-style-type: none;
      transition: all 0.5s ease-in-out;

      li {
        a {
          color: #000;
          font-weight: 600;
          transition: all 0.2s ease-in-out;

          &:hover {
            color: $accent-color;
          }
        }
      }
    }
  }
}

html[data-direction="down"] #menu {
  left: -100px;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

/* Menu di navigazione */

.scroll {
  position: fixed;
  bottom: 78px;
  left: -48px;
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  letter-spacing: 3px;
  font-size: 15px;
  font-weight: 400;
  cursor: default;
  z-index: 998;
  transition: all 0.2s ease-in-out;

  &:hover {
    bottom: 85px;
  }

  &:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 60px;
    height: 2.5px;
    background: #fff;
    margin-left: 5px;
    margin-bottom: 4px;
  }
}

.testo-venezia {
  position: absolute;
  display: block;
  width: 50vw;
  text-align: right;
  color: rgba(255, 255, 255, 0.2);
  font-size: 5.5rem;
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: 1px;
  top: 95px;
  right: 50px;
}

#scene {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.onda-bassa-venezia {
  position: absolute;
  width: 150vw;
  height: 30vh;
  background-image: url("../img/onda-bassa-venezia-1.svg");
  background-repeat: repeat-x;
  background-size: cover;
  position: absolute;
  top: 78vh !important;
  left: -10vw !important;
}

.onda-media-venezia {
  position: absolute;
  width: 150vw;
  height: 30vh;
  background-image: url("../img/onda-media-venezia.svg");
  background-repeat: repeat-x;
  background-size: cover;
  top: 65vh !important;
  left: -10vw !important;
}

.onda-alta-venezia {
  position: absolute;
  width: 150vw;
  height: 40vh;
  background-image: url("../img/onda-alta-venezia.svg");
  background-repeat: repeat-x;
  background-size: cover;
  top: 52vh !important;
  left: -10vw !important;
}

.testo-port-venezia {
  position: absolute;
  font-family: "Lumen Script", sans-serif;
  color: $accent-color;
  font-size: 80px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: capitalize;
  top: 40vh !important;
  left: 80vw !important;
}

/* ! Schermata principale */

#sezioneUno {
  overflow: hidden;
}

main {
  width: 100%;
  height: 100vh;
  background-color: #B9D6F2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 25vh;
  overflow: hidden;

  .hero {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;

    .intro {
      position: relative;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      z-index: 2;

      h1 {
        position: relative;
        color: #fff;
        white-space: nowrap;
        font-weight: 900;
        font-size: 10rem;
        letter-spacing: -1px;
        z-index: 4;
      }

      h2 {
        margin: 22px 0;
        font-size: 2.5rem;
        font-weight: 400;
        color: #fff;
      }

      .ve-letter {
        margin: 14px 0;

        span {
          content: "";
          display: block;
          position: relative;
          top: 0;
          left: 0;
          width: 90px;
          height: 10px;
          background-color: $accent-color;
          margin: 14px 0;
        }

        .ve-margin {
          margin-top: 14px;
          -webkit-transform: translateX(50%);
          -ms-transform: translateX(50%);
          transform: translateX(50%);
        }
      }
    }
  }
}

.subcover {
  position: relative;
  width: 100%;
  height: auto;
  top: -5px;
}

h3 {
  font-weight: 800 !important;
}

#sezioneDue,
#sezioneTre {
  margin-top: 50px;

  .custom-p {
    opacity: 1;
    transition: opacity 0.5s;
  }

  .scroll-class {
    opacity: 1;
  }
}

.btn-primary {
  background-color: $accent-color;
  border-color: $accent-color;

  &:hover {
    background-color: rgba($accent-color, 0.9);
    border-color: $accent-color;
  }
}

.custom-p {
  a {
    font-family: "Lumen Script", sans-serif;
    color: #000;
    font-size: 2.5rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $accent-color;
    }
  }
}

#sezioneAbout {
  margin-top: 50px;
}

#sezioneContatti {
  margin-top: 50px;
  margin-bottom: 80px;

  h4 {
    font-weight: 800;
  }

  p {
    color: #000;
    font-weight: 300;
    font-size: 1.5rem;
  }

  button {
    a {
      font-size: 1.75rem;
    }
  }
}

.social {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  a {
    margin: 8px 0;
    color: #000;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $accent-color;
    }
  }
}

/* Portatile L */
@media screen and (max-width: 1440px) {
  /*Main section*/
  h1 {
    font-size: 8rem !important;
  }

  .testo-port-venezia {
    font-size: 60px !important;
    top: 46vh !important;
    left: 78vw !important;
  }
}

/* Portatile */
@media screen and (max-width: 1024px) {
  /*Main section*/
  main .hero .intro h1 {
    font-size: 6.5rem !important;
  }

  main .hero .intro h2 {
    font-size: 2rem;
  }

  .testo-port-venezia {
    font-size: 50px !important;
    top: 48vh !important;
    left: 70vw !important;
  }

  .gondola {
    width: 350px;
    top: 55vh !important;
    left: 72vw !important;
  }
}

@media screen and (max-width: 768px) {
  main .hero .intro h1 {
    font-size: 4.5rem !important;
  }
  .testo-venezia {
    position: absolute;
    display: block;
    width: 83vw;
    text-align: right;
    color: rgba(255, 255, 255, 0.2);
    font-size: 2.5rem;
    font-weight: 100;
    line-height: 1.2;
    letter-spacing: 1px;
    top: 118px;
    right: 10px;
  }

  .testo-port-venezia {
    font-size: 50px !important;
    top: 48vh !important;
    left: 61vw !important;
  }

  #sezioneDue,
  #sezioneTre,
  #sezioneAbout,
  #sezioneContatti {
    margin-top: 100px;
  }
}

@media screen and (max-width: 500px) {
  /*  header*/
  header {
    top: 10px;
    left: 10px;
    padding: 10px 0 0 10px;
  }

  .testo-venezia {
    width: 62vw;
    font-size: 37px;
    top: 10px;
    right: 10px;
    text-align: right;
  }

  /*Main section*/

  .intro {
    top: -75px;
  }

  main .hero .intro h1 {
    font-size: 3.75rem !important;
  }

  main .hero .intro h2 {
    font-size: 1.85rem;
  }

  main .hero .intro .ve-letter span {
    content: "";
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: $accent-color;
    margin: 9px 0;
  }

  /* Venezia ambiente*/

  .testo-port-venezia {
    font-size: 46px !important;
    top: 55vh !important;
    left: 52vw !important;
  }

  .gondola {
    width: 322px;
    top: 61vh !important;
    left: 54vw !important;
  }

  .onda-alta-venezia {
    top: 60vh !important;
  }

  .onda-media-venezia {
    top: 71vh !important;
  }

  .onda-bassa-venezia {
    top: 82vh !important;
  }
}

@media screen and (max-width: 400px) {
  /*Main section*/

  main .hero .intro h1 {
    font-size: 3rem !important;
  }

  /* Venezia ambiente*/

  .testo-port-venezia {
    font-size: 46px !important;
    top: 55vh !important;
    left: 50vw !important;
  }
}