@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, p {
  cursor: default;
}

html {
  width: 100%;
  height: 100%;
}

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  color: #fff;
  background: #F96661;
  background: -moz-linear-gradient(45deg, #F96661 0%, #FF8552 100%);
  background: -webkit-linear-gradient(45deg, #F96661 0%, #FF8552 100%);
  background: linear-gradient(45deg, #F96661 0%, #FF8552 100%);
  background-attachment: fixed;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #FFFFFA;
}

/* ! bullets navigation */
#pp-nav ul, .pp-slidesNav ul {
  position: fixed;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
}

#pp-nav li, .pp-slidesNav li {
  margin: 25px 0;
}

#pp-nav span, .pp-slidesNav span {
  width: 24px;
  height: 3px;
  border-radius: 0;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

#pp-nav li .active span, .pp-slidesNav .active span {
  width: 40px;
  background-color: #fff;
}

.pp-tableCell {
  width: 100vw;
  height: 100vh !important;
  overflow: hidden;
}

/* ! Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 40px 0;
  color: #fff;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.name {
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 1.5px;
  position: relative;
  text-transform: capitalize;
  z-index: 1000;
  transition: 0.3s all ease-in-out;
}

.name:hover {
  color: #85FFC7;
}

header .wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-right: 62px;
}

.icons a {
  font-size: 35px;
  margin: 0 12px;
  transition: 0.3s all ease-in-out;
}

.icons a:hover {
  color: #85FFC7;
}

.menuIcon {
  position: relative;
  width: 50px;
  height: 22px;
  cursor: pointer;
}

header .menuIcon:after, header .menuIcon:before {
  content: "";
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  right: 0;
  -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

header .menuIcon::before {
  bottom: 0;
}

header .menuIcon::after {
  top: 0;
}

header .menuIcon.js-menuOpen:before {
  bottom: 50%;
  -webkit-transform: rotate(-45deg) translate3d(0, 50%, 0);
  transform: rotate(-45deg) translate3d(0, 50%, 0);
}

header .menuIcon.js-menuOpen:after {
  top: 50%;
  -webkit-transform: rotate(45deg) translate3d(0, -50%, 0);
  transform: rotate(45deg) translate3d(0, -50%, 0);
}

nav {
  z-index: 999;
  position: fixed;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('img/venezia_map.svg'),
    #131934;
  background-repeat: no-repeat;
  background-size: 1400px;
  background-position: -150px -10%;
  background-attachment: fixed;
  height: 0vh;
  width: 100%;
  top: 0;
  overflow: hidden;
  border-bottom: 7px solid #85FFC7;
}

.data {
  text-align: center;
}

.ul {
  list-style-type: none;
}

li {
  list-style-type: none;
  color: #fff;
}

nav ul li a {
  display: inline-block;
  color: #fff;
  transition: color 0.3s ease;
  font-weight: 600;
  font-size: 116px;
  letter-spacing: 1.4px;
  position: relative;
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

nav ul li a:hover {
  color: #85FFC7;
}

.scroll {
  position: fixed;
  bottom: 78px;
  left: -48px;
  text-transform: uppercase;
  transform: rotate(90deg);
  letter-spacing: 3px;
  font-size: 15px;
  font-weight: 200;
  z-index: 998;
}

.scroll::after {
  content: '';
  position: relative;
  display: inline-block;
  width: 60px;
  height: 2.5px;
  background: #fff;
  margin-left: 5px;
  margin-bottom: 4px;
}

.testo-venezia {
  position: absolute;
  display: block;
  width: 50vw;
  text-align: right;
  color: rgba(255, 255, 255, 0.15);
  font-size: 80px;
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: 1px;
  top: 95px;
  right: 50px;
}

#scene {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.onda-bassa-venezia {
  width: 150vw;
  height: 30vh;
  background-image: url('img/onda-bassa-venezia.svg');
  background-repeat: repeat-x;
  -webkit-background-size: contain;
  background-size: cover;
  position: absolute;
  left: -200px;
  bottom: -100px;
}

.onda-media-venezia {
  width: 150vw;
  height: 30vh;
  background-image: url('img/onda-media-venezia.svg');
  background-repeat: repeat-x;
  background-size: cover;
  position: absolute;
  left: -200px;
  bottom: 0px;
}

.onda-alta-venezia {
  width: 150vw;
  height: 40vh;
  background-image: url('img/onda-alta-venezia.svg');
  background-repeat: repeat-x;
  background-size: cover;
  position: absolute;
  left: -200px;
  bottom: 0px;
}

.gondola {
  width: 600px;
  height: 600px;
  background-image: url('img/gondola-venezia.png');
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  right: -130px;
  bottom: -170px;
}

.testo-port-venezia {
  position: absolute;
  color: #85FFC7;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  text-shadow: 1px 1px 11px rgba(0, 0, 0, 0.5);
  letter-spacing: 10px;
  top: 50vh !important;
  left: 70vw !important;
}

/* ! Schermata principale */
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.intro {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: column nowrap;
  z-index: 2;
  margin-left: 10%;
}

.intro h1 {
  position: relative;
  color: #FFF;
  white-space: nowrap;
  font-weight: 500;
  font-size: 125px;
  letter-spacing: -1px;
  z-index: 4;
  text-shadow: 1px 1px 11px rgba(0, 0, 0, 0.5);
}

.ve-letter {
  margin: 14px 0;
}

.ve-letter span {
  content: '';
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 88px;
  height: 6px;
  background-color: #85FFC7;
  margin: 14px 0;
}

.ve-margin {
  margin-top: 14px;
  transform: translateX(50%);
}

.intro h2 {
  margin: 22px 0;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
}

/* ! Altre Sezioni */
.intro_dx {
  position: absolute;
  right: 10%;
}

.intro_dx span {
  position: absolute;
  bottom: 0px;
  right: -30px;
  font-size: 160px;
  font-weight: 800;
  color: #fff;
  text-shadow: 1px 1px 11px rgba(0, 0, 0, 0.5);
}

.intro_dx a {
  flex: 1;
  box-shadow: 0 80px 140px 25px rgba(0, 0, 0, 0.8);
}

.intro_dx img {
  width: 50vw;
  height: 70vh;
  object-fit: cover;
}

.intro h3 {
  color: #FFF;
  white-space: nowrap;
  font-weight: 500;
  font-size: 12vmin;
  letter-spacing: -1px;
  line-height: 0.9;
  z-index: 3;
  flex: 1;
  text-shadow: 1px 1px 14px rgba(0, 0, 0, 0.35);
}

.intro p {
  margin: 22px 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.6;
  color: #fff;
}

.a_website {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 60px;
  font-size: 21px;
  color: #fff;
  background: #f24645;
  padding: 16px;
  text-align: center;
  margin-top: 50px;
  box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.2);
  transition: 0.3s all ease-in-out;
}

.a_website:hover {
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
  background-color: #85FFC7;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.3);
}

.intro_social {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
}

.intro_social a {
  margin: 16px;
  font-size: 40px;
  color: #fff;
  transition: 0.3s all ease-in-out;
}

.intro_social a:hover {
  color: #85FFC7;
}

.intro_mail {
  font-size: 32px;
  font-weight: 100;
  color: #fff;
  transition: 0.3s all ease-in-out;
}

.intro_mail:hover {
  color: #85FFC7;
}

/* ! Progetto singolo portfolio */
.monocolor {
  background: #131934 !important;
}

.progetto, .about {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.progetto main {
  background: url('img/presentantion_magnetic.png') repeat-x center;
  -webkit-background-size: contain;
  background-size: contain;
}

#presentantion_sapori {
  background: url('img/presentantion_sapori.png') no-repeat right bottom;
  background-size: cover;
}

.bg_main_progetto {
  position: absolute;
  height: 100vh;
  width: 41vw;
  background: #F96661;
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.btn_indietro {
  position: relative;
  color: #000;
  opacity: 0.4;
  transition: 0.3s ease-in-out;
}

.btn_indietro:hover {
  opacity: 0.8;
}

.progetto h1, .about h1 {
  font-size: 110px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.progetto .details {
  margin: 24px auto 24px auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.details div {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.details h4 {
  font-size: 24px;
  color: #F96661;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.overview p {
  width: 85%;
}

.progetto a, .about a {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFA;
  margin-top: 36px;
}

.btn_sito::after {
  content: '';
  display: block;
  position: absolute;
  top: 16px;
  left: 110px;
  height: 3.5px;
  width: 0;
  background-color: #85FFC7;
  transition: width 0.3s ease-in-out;
}

.btn_sito:hover::after {
  width: 100px;
}

.mockup {
  position: relative;
  width: 50vw;
  height: auto;
  margin: 50px auto;
}

.text {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 100px;
  width: 100vw;
}

.heading {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin: 50px 0 50px;
}

.heading_numb {
  font-weight: 900;
  letter-spacing: 1.6px;
  color: #F96661;
  font-size: 44px;
  padding-left: 6.2rem;
  padding-right: 8px;
}

.heading_numb::after {
  position: absolute;
  content: '';
  display: inline-block;
  height: 2px;
  width: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #FFF;
}

.heading h3 {
  padding-left: 50px;
  font-size: 50px;
  font-weight: 800;
  color: #85FFC7;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.3;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.text_wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1200px;
  width: 100%;
}

.text_wrap p {
  margin-top: 16px;
  width: 100%;
  line-height: 2;
}

.main_logo {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #E5EBF0;
}

.main_logo img {
  width: 33.33%;
  min-width: 300px;
  align-self: center;
}

.main_color {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 40vh;
  background: #F96661;
}

.color {
  flex: 1;
  flex-basis: 30%;
  height: 100px;
  margin: 0 16px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.2px;
}

.color:last-child {
  margin-right: 28px;
}

.color_magnetic_1 {
  background-color: #2D1E2F;
  color: #fff;
}

.color_magnetic_2 {
  background-color: #FFCA35;
  color: #000;
}

.color_magnetic_3 {
  background-color: #FFF;
  color: #000;
}

.color_magnetic_4 {
  background-color: #000;
  color: #fff;
}

.color_sapori_1 {
  background-color: #F10129;
  color: #fff;
}

.color_sapori_2 {
  background-color: #358022;
  color: #FFF;
}

.color_sapori_3 {
  background-color: #FFF;
  color: #000;
}

.color_sapori_4 {
  background-color: #000;
  color: #fff;
}

.concept_img {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-shadow: inset 0px 3px 17px -4px rgba(0, 0, 0, 0.5);
  background: url('img/concept_magnetic.png') no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}

#concept_img_sapori {
  background: url('img/concept_sapori.png') no-repeat center;
}

/* ! --------------------------------------------------------------------------
Su Di Me
------------------------------------------------------------------------------ */
/* ! chi sono */
.about main {
  background: url('img/about.jpg') no-repeat center;
  background-size: cover;
}

.text h4 {
  font-size: 28px;
  font-weight: 500;
  color: #F96661;
  text-transform: uppercase;
  margin: 24px 0 0;
}

/* ! passione */
.flexbox_passione {
  margin-top: 50px;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.item_passione {
  flex: 1;
  align-self: stretch;
  margin: 0 18px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.item_passione h4 {
  font-size: 28px;
  letter-spacing: 4px;
  color: #F96661;
}

.item_passione p {
  margin-top: 16px;
  text-align: justify;
  line-height: 1.5;
}

.item_passione img {
  width: 180px;
  height: auto;
  margin: 16px;
}

/* ------------------ Skill Set --------------------------------*/
.skill-set__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.content {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.content--mlarge {
  margin: 50px auto;
}

.skill-set__list {
  width: 50%;
}

.skill-set__item:first-child {
  margin-top: 0;
}

.skill-set__item {
  margin-top: 6.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.skill-set__icon {
  width: 10.6382%;
  -ms-flex-item-align: center;
  align-self: center;
}

.skill-set__detail {
  width: 100%;
  margin: 0 24px;
}

.skill-set__meta {
  margin-bottom: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.skill-set__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.small-title {
  font-size: 24px;
  letter-spacing: 0.2em;
  line-height: 1.2;
}

.skill-set__year {
  font-size: 14px;
  line-height: 1.2;
  color: #c0c5ca;
  margin-left: 0.8rem;
  letter-spacing: 0.2em;
}

.skill-set__high {
  color: #F96661;
}

.skill-set__ratio {
  font-size: 1.6rem;
  line-height: 1.2;
  color: #072142;
}

.skill-set__bar {
  width: 100%;
  height: 22.4px;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
  box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
}

.skill-set__bar.p90:after {
  background: #85FFC7;
  width: 90%;
}

.skill-set__bar.p80:after {
  background: #85FFC7;
  width: 80%;
}

.skill-set__bar.p70:after {
  background: #85FFC7;
  width: 70%;
}

.skill-set__bar.p60:after {
  background: #85FFC7;
  width: 60%;
}

.skill-set__bar.p50:after {
  background: #85FFC7;
  width: 50%;
}

.skill-set__bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 10%;
}

footer {
  height: 40vh;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #F96661;
  overflow-x: hidden;
}

footer a {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 3px;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

footer a:hover {
  opacity: 0.5;
}

/*------------------------------------------------------------------------------
Versione Desktop Medio
-------------------------------------------------------------------------- !  */
@media screen and (max-width: 1110px) {
  #pp-nav ul, .pp-slidesNav ul {
    top: unset;
    bottom: -86px;
    left: 50%;
    transform: rotate(-90deg);
  }

  .intro {
    margin-left: 5%;
  }

  .intro_dx {
    margin-right: 0;
  }
}

@media screen and (max-width: 1650px) {

  /* ! Schermata Principale */
  .container {
    max-width: 1000px;
  }

  .gondola {
    right: -310px;
  }

  /* ! Template lavoro */
  .progetto .details {
    justify-content: flex-start;
  }

  .details div {
    margin-right: 50px;
  }

  .details div:last-child {
    margin-right: 0;
  }

  .details .overview {
    width: 55%;
  }

  .item_passione img {
    width: 130px;
  }
}

/*------------------------------------------------------------------------------
Versione Desktop Piccolo
-------------------------------------------------------------------------- !  */
@media screen and (min-width: 952px) and (max-width: 1199px) {
  .intro_dx span {
    right: 18px;
  }

  .intro_dx span {
    font-size: 140px;
  }
}

@media screen and (min-width: 800px) and (max-width: 951px) {
  .intro_dx span {
    right: 18px;
  }

  .intro_dx span {
    font-size: 115px;
  }
}

@media screen and (min-width: 100px) and (max-width: 799px) {
  .icons {
    display: none;
  }

  nav ul li a {
    font-size: 60px;
  }

  header {
    padding: 25px 20px 0;
  }

  .name {
    letter-spacing: 0.5px;
  }

  .intro_dx span {
    right: 18px;
  }

  .hero_mobile {
    margin-top: -55vw;
  }

  .onda-bassa-venezia,
  .onda-media-venezia,
  .onda-alta-venezia {
    left: -110px;
  }

  .testo-port-venezia {
    font-size: 34px;
    top: 59vh !important;
    left: 27vw !important;
  }

  .gondola {
    right: -93px;
    bottom: -4vh;
    width: 390px;
    height: 390px;
  }

  .intro h1 {
    font-size: 13vw;
    white-space: normal;
  }

  .intro h3 {
    font-size: 12vw;
    line-height: 1.1;
    white-space: normal;
  }

  .intro_dx img {
    height: 71vh;
    width: 50vw;
    object-fit: cover;
  }

  .intro_dx span {
    font-size: 90px;
    right: -10px;
  }

  /* ! Lavoro Progetto */
  .container {
    margin: 0 16px;
  }

  .bg_main_progetto {
    width: 60vw;
  }

  .progetto main {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: repeat;
    background-position: -45%;
  }

  .progetto h1, .about h1 {
    font-size: 13vw;
  }

  .progetto .details {
    margin: 16px;
  }

  .details div {
    flex: 1;
    margin: 8px 0 8px 8px;
  }

  .mockup {
    width: 75vw;
    margin: 32px auto;
  }

  .heading {
    margin: 50px 0 12px;
  }

  .heading_numb {
    padding-left: 16px;
    font-size: 36px;
    padding-left: 4.2rem;
  }

  .heading_numb::after {
    width: 2.8rem;
  }

  .heading h3 {
    padding-left: 15px;
    font-size: 35px;
  }

  .main_logo img {
    width: 100vw;
  }

  .main_color {
    height: 34vh;
    flex-wrap: wrap;
  }

  .color:last-child {
    margin-right: 16px;
  }

  .text_wrap p {
    margin: 0;
    padding: 16px;
  }

  #concept_img_sapori {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 28% center;
  }

  /* ! About Me */
  .text {
    margin: 0 0 16px;
  }

  .text h4 {
    margin: 24px 0 0 16px;
  }

  .item_passione {
    margin: 24px 18px;
  }

  .skill-set__list {
    width: 100%;
  }

  .skill-set__list:last-child {
    margin-top: 102px;
  }

  footer {
    height: 15vh;
  }

  footer a {
    font-size: 20px;
  }

  .intro_mail {
    font-size: 24px;
  }
}

/*
Fasce media query
Desktop Medio - 1650px
Desktop Piccolo - 1200px
Tablet Grande - 800px
Tablet Piccolo - 400px
Smartphone - 200px

*/
